ADLC_USERNAME=
ADLC_PASSWORD=
ADLC_DOMAIN=adlcmanifesto.org
ADLC_FTP_HOST=185.30.108.63
ADLC_FTP_ALT_HOST=ftp.adlcmanifesto.org
ADLC_FTPS_HOST=crystal3.pegasoserver.net
ADLC_WEB_DIR=/public_html/
ADLC_CGI_DIR=/public_html/cgi-bin/
